<?xml version="1.0"?>
<configuration>
	
  
  <!-- Define the custom configuration sections in the <configSections> element... -->
	<configSections>
		<sectionGroup name="customConfigDemo">
			<section name="aspnet2ConfigurationDemo" type="ASPNET2Configuration"/>
		</sectionGroup>
	</configSections>
	
  <!-- Provide the custom configuration settings OUTSIDE of <system.web> -->
	<customConfigDemo>
    <!-- Uses the ASP.NET 2.0-style configuration logic... -->
		<aspnet2ConfigurationDemo quoteOfTheDay="Love your enemy like thy neighbor." yourAge="28">
			<favoriteStates>
        <add name="California" abbreviation="CA"/>
        <add name="Missouri" abbreviation="MO"/>
        <add name="Illinois" />
      </favoriteStates>
		</aspnet2ConfigurationDemo>
	</customConfigDemo>
  
  
	<appSettings/>
	<connectionStrings/>
  
	<system.web>
		<compilation debug="true"/>
  </system.web>
</configuration>
