<?xml version="1.0"?>
<configuration>
	
  
  <!-- Define the custom configuration sections in the <configSections> element... -->
	<configSections>
			<section name="aspnet1Configuration" type="ASPNET1ConfigurationHandler"/>
	</configSections>
	
  <!-- Provide the custom configuration settings OUTSIDE of <system.web> -->
	<aspnet1Configuration message="This is a test!" showMessageInBold="true">
		<favoriteColors>
			<color>Red</color>
			<color>Green</color>
			<color>Blue</color>
		</favoriteColors>
	</aspnet1Configuration>
  
  
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/></system.web>
</configuration>
